@import '../../../colors.css';

:root {
  --slider-item-width: 300px;
  --slider-item-margin-right: 10px;
  --slider-item-image-height: 165px;
  --container-padding: 10px;
}

.slider-item {
  font-size: 0.5em;
  display: inline-block;
  min-width: var(--slider-item-width);
  background-color: var(--economist-white, white);
  margin-right: var(--slider-item-margin-right);
  transition: margin-left 0.5s;

  &--selected .slider-item__image,
  &--selected .slider-item__container,
  &:hover .slider-item__image,
  &:hover .slider-item__container {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s;
  }

  &__image {
    min-height: var(--slider-item-image-height);
    height: auto;
  }

  &__container {
    max-width: var(--slider-item-width);
    padding: var(--container-padding);
    background-color: var(--economist-red, red);
    color: var(--economist-white, white);
  }

  &__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__subtitle {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.75em;
  }

  &--full-width {
    & .slider-item__image {
      max-height: 250px;
    }
  }
}
