:root {
  --economist-white: #f2f2f2;
  --text-line-height: 1.5em;
  --font-size-large: 2.5em;
  --font-size-medium: 1.75em;
  --font-size-small: 1.25;
  --line-count: 5;
  --margin-size: 20px;
  --weight-size: 600;
}

.episode-description {
  color: var(--economist-white);

  & > * {
    margin: 0;
    padding: 0;
  }

  &__subtitle {
    font-size: var(--font-size-medium);
    margin-bottom: 15px;
  }

  &__title {
    font-size: var(--font-size-large);
    font-weight: var(--weight-size);
    margin-bottom: var(--margin-size);
  }

  &__text {
    display: -webkit-box;
    font-size: var(--font-size-small);
    overflow: hidden;
    max-height: calc(var(--text-line-height) * var(--line-count));
    line-height: var(--text-line-height);
    text-overflow: ellipsis;
    -webkit-line-clamp: var(--line-count);
    -webkit-box-orient: vertical;
  }
}
