.episode-watch {
  display: inline-block;
  width: 30%;

  & .episode-video {
    height: 25vh;
    border: 2px solid black;
    margin-bottom: 5vh;
  }

  & .watchnow-button {
    border: 2px solid black;
    height: 10vh;
    text-align: center;
    font-size: 4vh;
    line-height: 10vh;
  }
}
