:root {
  --font-large: 3rem;
  --button-background-color: #e3120b;
  --button-font-color: #fff;
  --border-thickness-video: 2px;
  --border-thickness-button: 2px;
  --border-color-video: #000;
  --border-color-button: #000;
  --border-style: solid;
}

.episode-watch {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 30%;

  &__video {
    height: 67%;
    border: var(--border-thickness-video) var(--border-style) var(--border-color-video);
  }

  &__watchnow-button {
    width: 100%;
    position: absolute;
    top: 75%;
    color: var(--button-font-color);
    background-color: var(--button-background-color);
    border: var(--border-thickness-button) var(--border-style) var(--border-color-button);
    height: 25%;
    font-size: var(--font-large);
  }
}
