@import '../../../colors.css';

.video-player {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.video-player:focus {
  outline: 0;
}

.video-js {
  width: 100%;
  height: 100%;
}

.video-js:focus {
  outline: 0;
}

.video-player-back-button {
  position: absolute;
  top: 5%;
  left: 5%;
}

.video-player-back-icons {
  width: 50%;
}

.selected {
  border: var(--economist-blue) solid 1px;
}
