.navigation-controls__play {
  display: inline-block;
  margin: 0 20px;
  background: #000;
  border: none;
}

.navigation-controls__pause {
  display: inline-block;
  margin: 0 20px;
  background: #000;
  border: none;
}

.navigation-controls__play-forward {
  display: inline-block;
  margin: 0 20px;
  background: #000;
  border: none;
}

.navigation-controls__play-back {
  display: inline-block;
  margin: 0 20px;
  background: #000;
  border: none;
}

.progress-bar-container {
  display: inline-block;
  width: 100%;
  height: 10px;
  border: solid white 1px;
  border-radius: 5px;
}

.progress-bar {
  background: #999;
  height: 100%;
  border-radius: 5px;
}

.navigation-controls {
  width: 500px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.navigation-container {
  width: 100%;
  text-align: center;
}

.navigation-container img {
  width: 80%;
}

.duration {
  color: white;
}

button:focus {
  outline: 0;
}
