@import '../../colors.css';

:root {
  --side-panel-width: 85px;
  --side-panel-width-expanded: 300px;
  --side-panel-option-border: 5px solid var(--economist-red, red);
}

.side-panel {
  position: fixed;
  z-index: 1;
  width: var(--side-panel-width);
  height: 100%;
  background-color: var(--economist-red, red);
  transition: width 0.2s ease-out;

  &__option-list {
    margin: 100px 0 0;
    padding: 0;
    list-style: none;
  }

  &__option {
    width: 100%;
    padding: 15px 20px;
    transition: background-color 0s;

    &:first-child {
      margin-bottom: 100px;

      & .side-panel-card__icon {
        border-radius: 100%;
      }
    }
  }

  &--expanded {
    width: var(--side-panel-width-expanded);
    transition: width 0.4s;

    & .side-panel__option {
      transition: background-color 0.2s ease-in 0.2s;
      border-right: var(--side-panel-option-border);
      border-left: var(--side-panel-option-border);

      &--active {
        border-right-color: var(--economist-white, white);
        border-left-color: var(--economist-white, white);
      }
    }

    & .side-panel-card__title {
      opacity: 1;
      transition: opacity 0.2s ease-in 0.2s;
    }

    & .side-panel-card--active .side-panel-card__icon circle {
      fill: var(--economist-red, red);
      transition: fill 0.2s ease-in 0.2s;
    }
  }
}
