:root {
  --expanded-video-offsetY: -610px;
  --episode-popup-offsetY: -430px;
  --transition-duration: 0.3s;
}

.series-container {
  height: 100vh;
  display: block;

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    animation: fadein 5s;
    z-index: -1;
  }
}

.series-content {
  margin-left: 50px;
  transition: transform var(--transition-duration);

  & .video-container--expanded {
    transform: translateY(var(--expanded-video-offsetY));
  }

  &.series-content--expanded {
    transform: translateY(var(--episode-popup-offsetY));
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
