:root {
  --expanded-video-offsetY: 380px;
}

.series-container {
  height: 100vh;
  display: block;
}

.series-content {
  margin-left: 115px;

  & .video-container--expanded {
    top: var(--expanded-video-offsetY);
    left: 0;
  }
}
