@import '../../colors.css';

:root {
  --offset-size: 20px;
  --offset-size-small: 10px;
  --info-container-width: 45%;
  --button-width: 48%;
  --button-font-size: 1.5em;
  --button-line-height: 2em;
  --button-margin-width: 2%;
  --video-teaser-height: 350px;
  --video-teaser-blur: 5px;
  --video-button-width: 100px;
}

.episode-selected {
  margin: var(--offset-size);
  border: 2px solid var(--economist-white);
  background-color: var(--economist-grey);
  position: relative;

  &__image {
    width: var(--video-button-width);
    position: absolute;
    top: calc(var(--video-teaser-height) / 2 - var(--video-button-width) / 2);
    left: calc(50% - var(--video-button-width) / 2);
    cursor: pointer;
    transition: opacity 0.3s;
    opacity: 0.5;
  }

  &__image--selected {
    opacity: 1;
  }

  &__teaser-wrapper {
    width: 50%;
    height: var(--video-teaser-height);
    position: relative;
    margin: var(--offset-size);
    background-color: var(--economist-grey);
    display: inline-block;
    vertical-align: top;

    & .video-player {
      filter: blur(var(--video-teaser-blur));
    }
  }

  &__info-container {
    width: var(--info-container-width);
    display: inline-block;
    padding: var(--offset-size);
    padding-left: 0;
  }
}

.episode-buttons {
  position: absolute;
  bottom: var(--offset-size);
  width: var(--info-container-width);

  &__watch,
  &__learn {
    text-align: center;
    display: inline-block;
    font-size: var(--button-font-size);
    line-height: var(--button-line-height);
    width: var(--button-width);
    padding: var(--offset-size-small);
    background-color: var(--economist-red);
    color: var(--economist-white);
    transition: background-color 0.3s;
  }

  &__watch--selected,
  &__learn--selected,
  &__watch:hover,
  &__learn:hover {
    cursor: pointer;
    background-color: #88120b;
  }

  &__watch {
    margin-right: var(--button-margin-width);
  }
}
