
:root {
  --home-container--margin-left: 100px;
  --home-container--padding: 20px;
  --slider-height: 320px;
  --home-container--transition-duration: 0.3s;
  --home-container--font-size: 2em;
}

.home {
  &-container {
    margin-left: var(--home-container--margin-left);
    padding: var(--home-container--padding) 0;
    transition-duration: var(--home-container--transition-duration);
  }

  & > div {
    margin: auto;
    width: 100%;
  }

  &-slider {
    font-family: EconSans;
    font-size: var(--home-container--font-size);
    margin-top: 0;
    padding: var(--home-container--padding);
    height: var(--slider-height);
    padding-bottom: 0;
  }
}
