.home {
  &-container {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
  }

  & > div {
    margin: auto;
    width: 100%;
  }

  &-slider {
    font-family: 'Oxygen', sans-serif;
    font-size: 2em;
    padding: 20px;
  }
}
