
:root {
  --slider--top-offset: -285px;
}

.home {
  &-container {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    padding-top: 20px;
  }

  & > div {
    margin: auto;
    width: 100%;
  }

  &-slider {
    font-family: 'Oxygen', sans-serif;
    font-size: 2em;
    margin-top: 0;
    padding: 20px;
    padding-bottom: 0;
    transition: margin-top 0.1s;
  }

  &-slider--top-offset {
    margin-top: var(--slider--top-offset);
  }

  &-slider--top-hidden {
    opacity: 0;
  }
}
