:root {
  --economist-red: #e3120b;
  --economist-redWine: #88120b;
  --economist-grey: #121212;
  --economist-white: #f2f2f2;
  --economist-blackOpacity: rgba(0, 0, 0, 0.91);
  --economist-blue: #23527c;
}
