:root {
  --top-padding: 6%;
  --side-padding: 3%;
  --font-large: 4rem;
}

.episode-detail {
  height: 100%;
  padding: var(--top-padding) var(--side-padding) var(--side-padding);

  &__details {
    height: 47%;
    width: 100%;
  }

  &__recommended {
    display: none;
    height: 53%;
    width: 100%;

    &-title {
      margin: 0;
      padding-top: 7%;
      font-weight: bold;
      height: 42%;
      font-size: var(--font-large);
    }

    &-card-wrapper {
      height: 58%;
    }
  }
}
