@import '../../../colors.css';

:root {
  --left-col-width: 20%;
  --middle-col-width: 55%;
  --right-col-width: 25%;
  --description-height: 60vh;
  --slider-space-height: calc(100vh - var(--description-height));
  --slider-container-height: 350px;
  --description-font-size: 1.5em;
  --offset-size-small: 10px;
  --button-width: 48%;
  --button-font-size: 1.5em;
  --button-line-height: 2em;
  --button-height: 80px;
  --button-width: 70%;
  --btn-transition-delay: 0.3s;
  --btn-opacity-unselected: 0.5;
  --btn-opacity-selected: 1;
  --logos-width: 75%;
}

.series-description {
  height: var(--description-height);
  display: flex;

  &__parent {
    margin-bottom: calc(var(--slider-space-height) - var(--slider-container-height));
  }

  &__flex-child {
    flex: 1;
    z-index: 2;
  }

  &__series-logo {
    display: flex;
    align-items: flex-end;
    flex-basis: var(--left-col-width);
  }

  &__description {
    flex-basis: var(--middle-col-width);
    align-self: flex-end;
    font-size: var(--description-font-size);
    color: var(--economist-white);
    font-weight: lighter;
  }

  &__right-wrapper {
    display: flex;
    flex-direction: column;
    flex-basis: var(--right-col-width);
  }

  &__sponsor-logo {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__logo-img {
    display: block;
    margin: 0 auto;
    width: var(--logos-width);
  }

  &__watchnow-btn {
    align-self: center;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: var(--button-font-size);
    line-height: var(--button-line-height);
    width: var(--button-width);
    padding: var(--offset-size-small);
    background-color: var(--economist-red);
    color: var(--economist-white);
    transition: background-color var(--btn-transition-delay);
    opacity: var(--btn-opacity-unselected);
  }

  &__watchnow-btn--selected {
    opacity: var(--btn-opacity-selected);
  }
}

.gradient-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
