@import '../../colors.css';

.slider {
  &-title {
    display: block;
    color: var(--economist-white, white);
    margin-bottom: 0.5em;
  }

  &-items {
    display: flex;
    overflow-x: auto;
  }
}
